<?xml version="1.0"?>
<model>
  <name>Cutout 5</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Michael Chen</name>
   <email>themc@mit.edu</email>
  </author>

  <description>
    The cardboard cutout obstaclee in the 16.633 competition
  </description>
</model>